.inputPadding {
    padding: 5px; 
    border-radius: 10px; 
    margin-bottom: 10px;
    width: 25vh;
    border: 2px solid #ccc;
    background-color: white;
    color: black;
    transition: 0.1s;
    outline: none;
} 

input:focus {
    border: 3px solid #555;
}

#formDiv{
    height: 100%;
    width: 100%;
}